NEXT_PUBLIC_GNS_CONTRACT_ADDRESS=0xaB048D752532Af86573C3269E0Dc49f600d90F19
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_CHAIN_NAME=studionet
NEXT_PUBLIC_CHAIN_ID=61999
NEXT_PUBLIC_EXPLORER_URL=https://explorer-studio.genlayer.com/
NEXT_PUBLIC_OPS_ADDRESS=
